{% extends 'account/user_base.html' %}
{% load static %}

{% block body %}
<section class="user_log">
 <h4 class="password_change">パスワードの変更を行う</h4>
<form class="signup" id="signup_form" method="post" action="{% url 'account_reset_password' %}">
  {% csrf_token %}

<table class="table">{{ form.as_table }}</table>
    {% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
    <hr class="log_hr">

<button type="submit" class="btn btn-outline-danger">送信</button>
</form>
</section>
{% endblock body %}