{% extends 'siru/base.html' %}
{% load static %}

{% block body %}
    <section class="set">
        <div class="alert">
            <h4 class="help">情報の変更を行う</h4>
            <hr color="black">
             <a href="{% url 'user-change' %}">
                 <h6 class="settitle">ユーザー名・ユーザー情報の変更</h6>
             </a>
            <hr>
             <a href="#">
                 <h6 class="settitle">メールアドレスの変更</h6>
             </a>
            <hr>
            <a href="{% url 'account_reset_password' %}">
                <h6 class="settitle">パスワードの変更</h6>
            </a>
            <hr>
        </div>
    </section>
    <footer>
        <div class="fixed-bottom">
            <nav class="footerNav sticky-bottom" >
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                     <a class="nav-link" id="nav-home-tab" href="{% url 'home' %}" role="tab" ><img class="nav_img" src="{% static 'img/home.png' %}" alt="ホーム"></a>
                     <a class="nav-link" id="nav-add-tab"  href="{% url 'create' %}" ><img class="nav_img" src="{% static 'img/add.png' %}" alt="投稿"></a>
                     <a class="nav-link active" id="nav-set-tab" href="{% url 'set' %}" ><img class="nav_img" src="{% static 'img/set.png' %}" alt="設定"></a>
                </div>
            </nav>
        </div>
    </footer>
{% endblock %}