{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>siru あなたの悩み打ち明けませんか？</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet"type="text/css" href="{% static 'css/main.css'%}">
        <link href="css/social-buttons.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="top_text">
                <h1 class="main_word">siru</h1>
                <small class="sub_word"> ~あなたの悩み打ち明けませんか？~</small>
            </div>
        </header>
    {% block body %}
    {% endblock body %}
    </body>
</html>
