/*共通のCSS*/
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
    background: #f8f7f7;
}

header {
    width:100% ;
    height: auto;
    background: #2d2c2c;
}

footer{
     height: 90px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    line-height: 90px;
    color: #ffffff;
    margin-bottom: 0;
}

a{
    color: black;
}

a:hover {
    color: #146dac;
    cursor: pointer;
}

.nav{
    justify-content: space-between;
    height: 100%;
}

.nav_img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.footerNav {
    background: #eeeeee;
    padding: 0;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 0 8px #6d6c6c;
    margin-top: 10px;
    margin-bottom: 0;
}

#nav-tab a {
    padding: 10px;
}



/*home html*/

.search_var{
    background: #ffffff;
    box-shadow: 0 0 8px #6d6c6c;
}

.form-inline{
    margin: 10px;
}

#search_button{
    margin-left: 260px;
    margin-top: 10px;
    line-height: 24px;
}

.new_hr_top{
    margin-top: 25px;
    margin-bottom: 15px;
}

.new_hr_bottom{
    margin-top: 15px;
    margin-bottom: 25px;
}

.posts_new{
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-left: 7px;
    font-weight: bolder;
}

.card_posts{
    background: #ffffff;

}
.posts_list_user{
    box-shadow: 0 0 8px #6d6c6c;
}
.card-title{
    font-weight: bolder;
    font-size: 16px;
}
.card-author{
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}
.card-text{
    text-align: left;
    margin-bottom: 30px;
    font-size: 18px;
}
.card-time{
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}



/*set html*/

.set {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    margin-right: auto;
    margin-left: auto;
}

.settitle{
    color: black;
    text-decoration: none;
    margin-top: 5px;
}

help{
    margin-top: 30px;
    font-weight: bolder;
}
.user_information{
    font-weight: bolder;
}

/*login.html*/

.user_log{
    margin-top: 90px;
    height: auto;
    font-size: 16px;
    font-weight: bolder;
}

.top_text{
    display: flex;
}

.main_word{
    font-size: 40px;
    text-align: left;
    margin-left: 15px;
}

.sub_word{
    color: #ffffff;
    line-height: 90px;
    margin-left: 10px;
}

.table{
    font-size: 14px;
}

.signup{
    height: auto;
}

#login_btn{
    margin-top: 5px;
   margin-left: 260px;
}

.log_hr{
    margin-top: 0px;
}

.log_link{
     margin-left: 180px;
    margin-right: 10px;
    margin-top: 0;
    font-size: 15px;
}

.log_text{
    margin-bottom: 2px;
    text-align: right;
}

.btn-google{
    background: #DD4B39;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;

}



/*user.html*/
.user_sign{
    margin-top: 20px;
}

.username{
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    flex-direction: column;
}

.email{
    display: flex;
    flex-direction: column;
}

.password1{
    display: flex;
    flex-direction: column;
}

.password2{
    display: flex;
    flex-direction: column;
}

.form-username{
    margin-top:5px ;
    margin-left: 10px;
    margin-right: 50px;
}

.form-profile{
    margin-top:5px;
    margin-left: 10px;
    margin-right: 50px;
     resize: none;
     height: 200px;
}

.form-email{
    margin-top:5px ;
    margin-left: 10px;
    margin-right: 50px;

}

.form-password{
    margin-top:5px ;
    margin-left: 10px;
    margin-right: 50px;
}

.btn-outline-danger{
   margin-top: 10px;
   margin-left: 300px;
}

.badge-danger{
    margin-left: 5px;

}

.signup_text{
    margin-left: 5px;
    font-size: 16px;
    font-weight: bolder;
}

.sign_hr{
    margin-top: 5px;
}



/*password_reset.html*/
.password_change{
    margin-bottom: 20px;
       font-weight: bolder;
}




/*password_reset_done.html*/
.password_reset{
    margin-top: 140px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 35px;
    font-weight: bolder;
}

.send_mail{
    margin: 7px;
    font-weight: normal;
    font-size: 18px;
}



/*user_text_change.html*/
.change_user{
    margin-top: 30px;
    background: #ffffff;
    box-shadow: 0 0 8px #6d6c6c;
    width: 100%;
    height: 100vh;
}

.change_title{
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#change_button{
    font-size:15px;
    height: 24px;
    width: auto;
    line-height: 15px;
    margin-right: 5px;
    margin-left:290px ;
    margin-bottom: 20px;
}

.change-username{
    margin: 5px auto 0;
    width: 100%;
    height: 50px;
}

.change-profile{
    resize: none;
    margin: 0 auto 5px;
    height: 300px;
    width: 100%;
}



/*post_create.html*/


.post{
    width: 100%;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0 0 8px #6d6c6c;
}

.post_title{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border:none;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.post_text{
    margin-top:10px;
    margin-bottom: 10px;
    width: 100%;
    height: 500px;
    resize: none;
    border:none;
}

.post_tag{
    margin: 0;
    width: 100%;
    height: 100px;
    border:none;
    font-size: 20px;
    font-weight: bolder;

}

.form_new{
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-left: 7px;
    font-weight: bolder;
}
#post_button{
    margin-left: 300px;
    margin-bottom: 10px;
}


/*post_detail.html*/

.post_detail_section{
    margin-top: 40px;
     background: #ffffff;
     box-shadow: 0 0 8px #6d6c6c;
}
.card_tag{
    text-align: left;
    font-size: 14px;
}

.comment_list{
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-left: 7px;
    font-weight: bolder;
}
.comment_contents{
    background: #ffffff;
    width: 100%;
    height: auto;
    box-shadow: 0 0 3px #6d6c6c;
}
.comment_author{
    font-size: 14px;
    padding-top: 15px;
    padding-left: 18px;
}
.comment_text_list{
    text-align: center;
    margin: 0;
    font-size: 18px;
}
.comment_time{
    margin-bottom:5px;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
.reply-link{
    font-size: 14px;
    padding-left: 18px;
}
.reply{
     background: #ffffff;
    width: 100%;
    height: auto;
    box-shadow: 0 0 3px #6d6c6c;

}
.reply_comment{

    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    margin: 0;
}

.reply_author{
    font-size: 14px;
    padding-top: 15px;
    padding-left: 18px;
}
.reply_text{
    text-align: center;
    margin: 0;
    font-size: 18px;
}
.reply_time{
    margin-bottom:5px;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
.reply_hr{
    width: 90%;
}



/*user_my_page.html*/

.my_page{
    width: 100%;
    height: auto;
    background: #ffffff;
     box-shadow: 0 0 8px #6d6c6c;
}
.my_name{
    padding-top: 10px;
    padding-left: 5px;
    color: #b5b4b4;
}

.my_profile{
    padding-top: 10px;
    padding-left: 5px;
    color: #b5b4b4;
}

.my_email{
    padding-top: 10px;
    padding-left: 5px;
    color: #b5b4b4;
}

.my_page_username{
    display: flex;
    padding-left: 5px;
}

.my_page_profile{
    display: flex;
    padding-left: 5px;
}

.my_page_email{
    display: flex;
    padding-left: 5px;
}
.button_my_page{
    margin-left: 30px;
}

.user_info{
    font-size: 16px;
    font-weight:bolder;
}
#my_page_id_button{
    height: 30px;
    width: 50px;
    font-size: 12px;
    line-height: 12px;
}
.my_page_h6{
    color: #b5b4b4;
    margin-top: 20px;
    margin-right: 5px;
    text-align: right;
}
.my_page_hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.my_page_h5{
    background: #f8f7f7;
    text-align: center;
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin: 0;
}

.my_page_post{
    background: #ffffff;
    box-shadow: 0 0 8px #6d6c6c;
    margin-bottom: 15px;
}


/*comment.html*/

.comment_text{
    margin-top:10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100vh;
    resize: none;
    border:none;

}
.comment_new{
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-left: 7px;
    font-weight: bolder;

}
.comment_button{
    display: flex;
}
.comment{
    width: 100%;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0 0 8px #6d6c6c;
}
#post_creative{
    margin-left: 220px;
    margin-bottom: 10px;
}

.comment-link{
    font-size: 13px;
    color: #146dac;
}