{% extends 'siru/base.html' %}
{% load static %}

{% block body %}
    <div class="search_var">
        <nav class="navbar navbar-light bg-white">
            <form class="form-inline" method="GET" action="{% url 'home' %}">
                <input class="form-control mr-sm-2" type="text" name="query" placeholder="投稿を検索する" aria-label="Search">
                <button type="submit" class="btn btn-outline-dark" id="search_button">検索</button>
            </form>
        </nav>
    </div>
    <hr color="black" class="new_hr_top">
    <h3 class="posts_new">最新の投稿</h3>
    <hr color="black" class="new_hr_bottom">
    {% for post in posts %}
        <section class="posts_list_user">
            <div class="card text-center bg-white">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'detail' post.id %}">詳細</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'comment' post.id %}">コメント</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="#" >ユーザー</a>
                      </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ post.title|truncatechars:20}}</h4>
                    <hr>
                    <p class="card-text">{{ post.text|truncatechars:50 }}</p>
                </div>
                <p class="card-author">投稿者:{{ post.author}}</p>
                <p class="card-time">{{ post.time|date:'Y/m/d' }}</p>
            </div>
        </section>
    {% endfor %}
    <footer>
        <div class="fixed-bottom">
            <nav class="footerNav" >
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                   <a class="nav-link active" id="nav-home-tab" href="{% url 'home' %}" role="tab" >
                       <img class="nav_img" src="{% static 'img/home.png' %}" alt="ホーム">
                   </a>
                   <a class="nav-link" id="nav-add-tab"  href="{% url 'create' %}" >
                       <img class="nav_img" src="{% static 'img/add.png' %}" alt="投稿">
                   </a>
                   <a class="nav-link" id="nav-set-tab" href="{% url 'set' %}" >
                       <img class="nav_img" src="{% static 'img/set.png' %}" alt="設定">
                   </a>
                </div>
            </nav>
        </div>
    </footer>
{% endblock body %}

